.home{
    display: flex;
}

.productContainer{
    display:flex;
    width:78%;
    padding:20px;
    flex-wrap:wrap;
    justify-content: space-around;
}
.products{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 2%;
    justify-content: space-around;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.pbox{
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 2px;
}

.products button{
    letter-spacing: 1.5px;
    font-weight: 900;
}
.products button:hover{
    background: #000;
    color: #ffff;
}